html{
    scroll-behavior: smooth;
}
body{
    background-color: #212121;
    
  
}
.container {
    max-width: 74vw;
    margin: auto;
}

button{
    cursor: pointer;
}
*{
    animation: popIn 0.5s;
}

/* 
@media screen and (max-width: 1200px) {
    .container {
        max-width: 1000px;
        
    }
} */