.sidebar{
    height: 100vh;
    position: fixed;
    width: 300px;
    background-color: #3F3F3F;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color:white
}

.back-site {
    font-family: 'Titillium Web', sans-serif;
    color: white;   
    border: solid 1px #FF5569;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 23px;
    border-radius: 40px;
    transition: 0.3s;
    color: white;
    text-decoration: none;
}
.back-site:hover {
    background-color:#FF5569 ;
}

.sidebar-items{
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.sidebar-items a {
    margin:40px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;

}
.sidebar-items a.active{
    background-color: #FF5569;
    padding: 10px 20px;
    border-radius: 40px;
}

@media screen and (max-width: 1700px) {
   
  .all-orders{
  display: flex;
  justify-content: center;
  margin-left: 300px;
  }
}
@media screen and (max-width: 1600px) {
 
   
} 
@media screen and (max-width: 1280px) {
   
 } 
 
 @media screen and (max-width: 968px) {
 
   .single-order{
    width: 400px!important;
    padding: 20px;

   }
   .order-header{
    justify-content: center!important;
   }
 
 }
 @media screen and (max-width: 788px) {
   
 .sidebar{
    width: 180px;
 }
 .single-order{
    width: 200px!important;
    padding: 20px;
    overflow-wrap: break-word;
   }
   .order-header{
    flex-direction: column;
   }
   .order-body{
    flex-wrap: wrap;
    justify-content: center!important;
   }
}

@media screen and (max-width: 700px) {

    .all-orders{
        margin-left: 200px!important;
    }
}
@media screen and (max-width: 480px) {

    .single-order{
        width: 150px!important;
        padding: 20px;
        font-size: 15px;
        overflow-wrap: break-word;
       }
}